<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startseite</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div style="font-family: Arial, Helvetica, sans-serif">
    {% block content %}
    <h1>
        Startseite
    </h1>
        {% endblock %}
  
</div>
    <script 
    type="text/javascript" 
    src="{{ url_for('static', filename='index.js')}}"
    >
        </script>
    </body>
</html>