body{
    background-color: #262626;
}
.sidebar{
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 35px;
    background-color: #101010;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.sidebar img{
    display: block;
    margin-bottom: 50px;
}
.sidebar img.Settings{
    margin-top: auto;
}

